/*=================================================================================*/
/*                             ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ                               */
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

:root {
    --w_h_modal_win: 300px; /*(ширина и высота карточки модального окна);*/
    --height__head_website: 106px; /*(высота шапки сайта);*/
    --color_white_1: rgb(222, 220, 220); /* (белый цвет надписи); */
    --color_blue_1: rgb(19, 129, 239); /* (голубой цвет надписи); */
}

/*=================================================================================*/
/*                                  СТИЛИЗАЦИЯ                                    */
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

body {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: sans-serif;
}

footer {
    width: 100%;
    background-color: rgb(28, 28, 28);
    color: var(--color_white_1);
}

footer > div > div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head_footer_cl > div > p {
    text-indent: 40px;
}

footer > div:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: solid 2px rgb(21, 21, 21);
}

@media (max-width: 800px) {
    footer > div:nth-child(1) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer > div > div {
        width: 100%;
        border-bottom: solid 2px rgb(17, 17, 17);
    }
}

footer > div:nth-child(1) >div:nth-child(2) {
    border-left: solid 2px black;
    border-right: solid 2px black;
}

.developer_footer_cl {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color_white_1);
}

.developer_footer_cl > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.developer_footer_cl > a:link, .developer_footer_cl > a:visited {
    color: var(--color_blue_1);
    text-shadow: 0.5px 0.5px 0.5px black;
}

.developer_footer_cl > a > img {
    width: 30px;
    height: 21px;
    border-radius: 10.5px;
}

/*_______главная страница_______*/

.welcoming_page_cl {
    /*встречающая страница*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    font-size: 100px;
}

@media (max-width: 950px) {
    .welcoming_page_cl {width: 90%;}
    .welcoming_page_cl {
        justify-content: center;
        align-items: start;
        padding-left: 10px;
        font-size: 85px;
        margin-left: 20px;
    }
}

@media (max-width: 800px) {
    .welcoming_page_cl {width: 90%;}
    .welcoming_page_cl {
        justify-content: center;
        align-items: start;
        padding-left: 30px;
        font-size: 50px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}

@media (max-width: 500px) {
    .welcoming_page_cl {
        font-size: 45px;
        padding-left: 0px;
    }
}

.welcoming_page_text_cl {
    width: 800px;
    color: var(--color_white_1);
    margin-right: 25px;
    margin-bottom: 25px;
    font-weight: bolder;
    text-shadow: 5px 5px 5px black;
}

@media (max-width: 950px) {
    .welcoming_page_text_cl {
        margin-right: 0px;
        margin-bottom: 0px;
    }
}

.welcoming_page_text_cl > span {
    color: var(--color_blue_1);
}

.organizations_activities_cl {
    /*деятельность организации*/
    width: 100%;
}

body {
    background-image: url(/static/space_bg.png);
    background-size: cover;
    background-position: 50% 82%;
    backdrop-filter: blur(2px);
}

/*________1_иконка загрузки страницы______________*/

.load_modal_opa_cl {
    /*прозначное окно модального окна*/
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(10, 10, 10);
    transition: 2400ms;
    z-index: 998;
}

.load_modal_car_cl {
    /*карточка модального окна*/
    position: fixed;
    left: calc(50vw - (var(--w_h_modal_win)/2));
    width: var(--w_h_modal_win);
    height: var(--w_h_modal_win);
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 60, 193);
    filter: blur(9px);
    opacity: 0.6;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    z-index: 999;
}

.load_modal_img_cl {
    /*гифка загрузки*/
    position: fixed;
    left: calc(50vw - 66px);
    width: 120px;
    height: 120px;
    padding: 12px;
    background-image: url(/static/load_gradient.png);
    background-size: cover;
    transform: rotateZ(0deg);
    border: 0;
    border-radius: 50%;
    z-index: 1000;
    transition: 300ms;
}

.load_modal_img_cl > img {
    width: 120px;
    height: 120px;
    border: 0;
    border-radius: 50%;
    transform: rotateZ(-0deg);
    transition: 300ms;
}

.load_modal_text_cl {
    /*ЗАПИСКИ_ЗАГРУЗКИ*/
    width: 190px;
    position: fixed;
    left: calc(50vw - 95px);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
}

.load_modal_text_cl > div:nth-child(1) {
    font-size: 40px;
}


/*________3_тип шапки______________*/

.head_website_dempf_cl {
    /*фикцированный (демпфер)*/
    width: calc(100%);
    height: var(--height__head_website);
}

.head_website_cl {
    /*фикцированный*/
    width: calc(100% - 7px);
    height: var(--height__head_website);
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 0fr 0.8fr 0.2fr;
    grid-template-rows: 1fr;
    background: linear-gradient(45deg, #ecebeb, #e2e2e2, #0a0b0c, #0b0d0f, #0b0d0f, #0b0d0f);
    border: solid 3.5px rgb(27, 26, 26);
}

@media (max-width: 1024px) {
    .head_website_cl {
        background: linear-gradient(45deg, #ecebeb, #e2e2e2, #c4c3c3, #0b0d0f, #0b0d0f, #0b0d0f);
        grid-template-columns: 0fr 0.95fr 0.05fr;
    }
}

@media (max-width: 700px) {
    .head_website_cl {
        background: linear-gradient(90deg, #f5f4f4, #f7f4f4, #dfdfdf, #dfdfdf, #0b0d0f, #0b0d0f, #0b0d0f, #0b0d0f);
    }
}

@media (max-width: 500px) {
    .head_website_cl {
        background: linear-gradient(90deg, #f5f4f4, #f7f4f4, #dfdfdf, #0b0d0f, #0b0d0f, #0b0d0f, #0b0d0f, #0b0d0f, #0b0d0f);
    }
    .organizations_logo_cl > div > span {
        color: var(--color_blue_1);
        text-shadow: 1px 1px 2px black;
    }
}

/*___________________иконка организации_____________________*/
.organizations_logo_cl {
    width: 320px;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

#burger_catalog_img_buttom_id {
    display: none;
    width: 70px;
    height: 70px;
    border-radius: 8px;
}

#burger_catalog_img_buttom_id:hover {
    cursor: pointer;
}

@media (max-width: 500px) {
    .organizations_logo_cl {
        width: 270px;
    }
    #burger_catalog_buttom_id {
        display: none;
    }
    #burger_catalog_img_buttom_id {
        display: flex;
        background-image: url(/static/Frame_20.png);
        background-size: cover;
        background-position: 50% 50%;
    }
}

.organizations_logo_cl > img {
    height: 106px;
    width: 106px;
}

.organizations_logo_cl > div {
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-top: 20px;
}

.organizations_logo_cl > div > span:nth-child(1) {
    font-size: 30px;
    font-weight: bolder;
}

.organizations_logo_cl > div > span:nth-child(2) {
    font-size: 15px;
}

@media (max-width: 700px) {
    .organizations_logo_cl > div > span:nth-child(2) {
        width: 150px;
    }
}

/*___________________каталог_____________________*/
.catalog_cl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1024px) {
    .catalog_cl {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (max-width: 700px) {
    .catalog_cl {display: none;}
}

.catalog_cl {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
}

.catalog_cl > div {
    width: 170px;
    height: 40px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_white_1);
    text-decoration: underline;
    transition: 300ms;
}

.catalog_cl > div:hover {
    cursor: pointer;
    font-size: 25px;
    color: var(--color_blue_1);
}


/*______каталог бургер______*/

.burger_catalog_cl {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    .burger_catalog_cl {display: flex;}
}

#burger_catalog_buttom_id {
    /*кнопка скрытого каталога*/
    width: 180px;
    height: 50px;
    color: var(--color_white_1);
    font-size: 25px;
    font-weight: bolder;
    text-decoration: underline;
    transition: 300ms;
}

#burger_catalog_buttom_id:hover {
    /*кнопка скрытого каталога*/
    cursor: pointer;
    color: var(--color_blue_1);
}

.burger_catalog_open_cl {
    /*скрытый каталог*/
    position: absolute;
    padding-top: 50px;
    padding-left: 20px;
    border: 0;
    border-radius: 18px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 190px;
    background: #0b0d0f;
    text-decoration: none;
    font-size: 0px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    transition: 300ms;
}

.burger_catalog_open_cl > div {
    /*скрытый каталог*/
    width: 170px;
    height: 0px;
    border: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #0b0d0f;
}

@media (max-width: 500px) {
    .burger_catalog_open_cl {
        width: 120px;
        margin-top: 40px;
    }

    .burger_catalog_open_cl > div {
        width: 120px;
    }
}

.burger_catalog_open_cl > div > span {
    text-decoration: underline;
}

.burger_catalog_open_cl > div > span:hover {
    /*скрытый каталог*/
    cursor: pointer;
    font-size: 25px;
    color: rgb(19, 129, 239);
}

#burger_catalog_fog_id {
    /*cкрытый туман скрытого каталога*/
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

