{% extends "main.html" %}

{% block main %}

<div class="body_main_cl">
    <!--главная страница-->
    <div class="welcoming_page_cl" id="welcoming_page_id">
        <!--встречающая страница-->
        <div class="welcoming_page_text_cl" id="welcoming_page_text_id">
            ваш <span>надежный</span> и <span>качественный</span> партнер вашего БИЗНЕСА
        </div>
    </div>
    <div class="organizations_activities_cl" id="organizations_activities_id">
        <!--Страница о Себе-->
        <div class="blocg_1_cl" id="blocg_1_id">
            <h2>О СЕБЕ</h2>
            <div class="blocg_1_parents_cl">
                <div class="blocg_1_mi_cl">
                    <!--Я-->
                    <p>Я Full-Stack разработчик web-приложений. Опыт работы 4 года. </p>
                    <p>Работаю над созданием сайтов, различной тематики, и их поддержкой.</p>
                    <p>Верстаю сайт по современ-ному-покупающему дизайну, c привлекательной анимацией.</p>
                    <p>Сайты на любую тему: визитка, корпоративный сайт, сайт магазин и т.д.</p>
                    <p>Могу помочь с дороботкой вашего сайта и дальнейшим SEO продвижением.</p>
                </div>
                <div class="blocg_1_achievements_cl">
                    <!--Мои навыки-->
                    <h2>Мои навыки</h2>
                    <h3>оформление и стилизация сайта:</h3>
                    <div>
                        <div>
                            <img src="/static/html_logo.png" alt="Н/Ф" id="html_logo_id">
                            <span>HTML</span>
                        </div>
                        <div>
                            <img src="/static/css_logo.png" alt="Н/Ф" id="css_logo_id">
                            <span>CSS</span>
                        </div>
                        <div>
                            <img src="/static/js_logo.png" alt="Н/Ф" id="js_logo_id">
                            <span>JavaScript</span>
                        </div>
                        <div>
                            <img src="/static/jquery_logo.png" alt="Н/Ф" id="jquery_logo_id">
                            <span>JQuery</span>
                        </div>
                        <div>
                            <img src="/static/tailwind_logo.png" alt="Н/Ф" id="tailwind_logo_id">
                            <span>tailwind</span>
                        </div>
                    </div>
                    <h3>серверные коды:</h3>
                    <div>
                        <div>
                            <img src="/static/python_logo.png" alt="Н/Ф" id="python_logo_id">
                            <span>Python</span>
                        </div>
                        <div>
                            <img src="/static/flask_logo.png" alt="Н/Ф" id="flask_logo_id">
                            <span>Flask</span>
                        </div>
                        <div>
                            <img src="/static/react_js_logo.png" alt="Н/Ф" id="react_js_logo_id">
                            <span>React_JS</span>
                        </div>
                        <div>
                            <img src="/static/sqlite3_logo.png" alt="Н/Ф" id="sqlite3_logo_id">
                            <span>SQLite_3</span>
                        </div>
                    </div>
                    <h3>спомогательные инструменты:</h3>
                    <div>
                        <div>
                            <img src="/static/git_logo.png" alt="Н/Ф" id="git_logo_id">
                            <span>Git</span>
                        </div>
                        <div>
                            <img src="/static/figma_logo.png" alt="Н/Ф" id="figma_logo_id">
                            <span>Figma</span>
                        </div>
                        <div>
                            <img src="/static/photoshop_logo.jpg" alt="Н/Ф" id="photoshop_logo_id">
                            <span>Photoshop</span>
                        </div>
                    </div>
                </div>
            </div>

        </div >
    </div>
    <div class="description_organization_cl" id="description_organization_id">
        <!--портфолио-->
        <h2>ПОРТФОЛИО</h2>
        <div class="portfolio_cl">
            <div id="portfolio_number_1_id">
                <!--портфолио #1-->
                <div></div>
                <span>Генератор шаблонов web-сайтов</span>
                <span>спец-проект</span>
                <script>
                    let portfolio_number_1 = document.getElementById('portfolio_number_1_id');
                    portfolio_number_1.onclick = () => {document.location.href = 'https://github.com/Innokentii/4_website-generator.git'}
                </script>
            </div>
            <div id="portfolio_number_2_id">
                <!--портфолио #2-->
                <div></div>
                <span>Сайт Fun-Кейтеринг (Mood Point)</span>
                <span>сайт заказов праздничных мероприяьий</span>
                <script>
                    let portfolio_number_2 = document.getElementById('portfolio_number_2_id');
                    portfolio_number_2.onclick = () => {document.location.href = 'https://anton128.pythonanywhere.com/'}
                </script>
            </div>
            <div id="portfolio_number_3_id">
                <!--портфолио #3-->
                <div></div>
                <span>Проект в "ExpoSkills" сайт форум "MineCraft"</span>
                <span>сайт форум</span>
                <script>
                    let portfolio_number_3 = document.getElementById('portfolio_number_3_id');
                    portfolio_number_3.onclick = () => {document.location.href = 'https://minecraft-website-tawny.vercel.app/'}
                </script>
            </div>
            <div id="portfolio_number_4_id">
                <!--портфолио #4-->
                <div></div>
                <span>Мои Backend навыки</span>
                <span></span>
                <script>
                    let portfolio_number_4 = document.getElementById('portfolio_number_4_id');
                    portfolio_number_4.onclick = () => {document.location.href = 'https://kesha95m.pythonanywhere.com/'}
                </script>
            </div>
            <div id="portfolio_number_5_id">
                <!--портфолио #5-->
                <div></div>
                <span>Мои Frontend навыки</span>
                <span></span>
                <script>
                    let portfolio_number_5 = document.getElementById('portfolio_number_5_id');
                    portfolio_number_5.onclick = () => {document.location.href = 'https://kesha94m.pythonanywhere.com/'}
                </script>
            </div>
        </div>
    </div>
    <div class="order_main_cl" id="order_main_id">
        <!--ЗАКАЗЫ-->
        <h2>ЗАКАЗАТЬ САЙТ</h2>
        <div class="list_of_order_methods">
            <div>
                <!--fl.ru-->
                <div id="order_in_fl_id"><span>заказать через FL.ru</span></div>
                <img src="/static/fl_icon.jpg" alt="Н/Ф" id="fl_logo_id">
                <img src="/static/3х4.jpg" alt="Н/Ф" id="fhoto_1_logo_id">
                <div>МОЙ ПРОФИЛЬ: Максимов Иннокентий</div>
            </div>
            <div>
                <!--kwork-->
                <div id="order_in_kwork_id"><span>заказать через KWORK</span></div>
                <img src="/static/kwork_icon.png" alt="Н/Ф" id="kwork_logo_id">
                <img src="/static/file (2).jpg" alt="Н/Ф" id="fhoto_2_logo_id">
                <div>МОЙ ПРОФИЛЬ: Иннокентий / WEB-разработчик (Full-Stack)</div>
            </div>
        </div>
        <p></p>
        <p>
            Прошу вас заказать сайт по моим профилям в "FL.ru" и "KWORK". Там можете посмотреть отзывы по моим работам и оценить качество моих работ. Данные сайты-биржи предназначены для проведения безопасной сделки между "заказчиком" и "исполнителем".
        </p>
    </div>
</div>
<script>
    'use strict' // Установка JS на строгий режим написания кода;
    function welcoming_page_adaptation_f() {
        // Адаптация высоты встречающей страницы;
        let head_website = document.getElementById('head_website_id'); // (шапка сайта);
        let head_website_dempf = document.getElementById('head_website_dempf_id'); // (демпфер шапка сайта);
        let welcoming_page = document.getElementById('welcoming_page_id'); // (встречающая страница);
        let footer = document.getElementById('footer_id'); // (подвал сайта);
        welcoming_page.style.height = `${window.innerHeight - head_website.offsetHeight}px`;
        head_website_dempf.style.height = `${head_website.offsetHeight}px`;
    }
    window.addEventListener('orientationchange', _ => { welcoming_page_adaptation_f() });
    window.addEventListener('resize', _ => { welcoming_page_adaptation_f() });
    document.addEventListener('DOMContentLoaded', _ => { welcoming_page_adaptation_f() })
</script>

{% endblock %}